<div class="container d-flex flex-column align-items-center justify-content-start min-vh-50 mt-4">
    <div *ngIf="commandesEnCuisine.length > 0; else noCommandes" class="w-100 d-flex flex-column align-items-center gap-4">
        <app-commande-cuisine
          *ngFor="let commande of commandesEnCuisine"
          [commande]="commande"
          (ouvrirPopup)="ouvrirPopup($event)">
        </app-commande-cuisine>
    </div>
  
    <ng-template #noCommandes>
      <p class="text-center text-muted">Aucune commande en cuisine pour le moment.</p>
    </ng-template>
  </div>

  
<div class="modal fade" tabindex="-1" id="popupStatut" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Changer le statut</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <p>Voulez-vous passer la commande #{{ commandeSelectionnee }} à <strong>"Prête"</strong> ?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button class="btn btn-vert" (click)="changerStatut()">Confirmer</button>
        </div>
      </div>
    </div>
  </div>
  